
{% extends 'base.html' %}

{% block title %}Products {% endblock %}

{% block content %}
    {% for product in Products %}
        <div class="card text-secondary border-primary "style="width: 35rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-md-7">
                <p class ="author"> <b>{{ product.name }}</b></p>
                <p> ({{ product.category }} )</p>
                  <p class = "created"><b>Amount:</b> {{ product.amount }} <b>with price: </b> {{ product.price }} </p>
              </div>
              <div class="col-md-5">
                <div class="float-right">
                    <a class="btn btn-outline-success" href="{% url 'product_create' product.pk %}"> <i class="fa fa-fw fa-edit"></i></a>
                    <a class="btn btn-outline-danger" href="{% url 'product_delete' product.pk %}"> <i class="fa fa-fw fa-trash"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><p>{{ product.description }}</p></p>
          </div>
        </div>
    {% endfor %}

{% endblock %}


