
{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <h1>Do you like to delete thise "<b>{{Products.name}}</b>"?</h1>
    <br>
      <form action="{%url "product_delete" Products%}" method="post">
        {% csrf_token %}
           <input type="submit" class="btn btn-danger" value="Yes">
          <a type="button" class="btn btn-primary" href="{% url 'index' %}">Cancel</a>
      <br>
    </form>
    <br>
    <h4 > Product description: </h4>
    <h6><i>{{ Products.text }}</i></h6>
{% endblock %}

