body {
    font-family: Roboto,Arial, sans-serif;
    background: beige;
    color: darkslategray;
    text-align: left ;
}
.container {
    margin: 0 auto;
    max-width: 900px;
}

.block1 {
    padding: 40px 40px;
}

.card {
 font-family: Roboto, Arial, sans-serif;
 border-style: solid;
 border-width: 6px;
 border-radius: 8px;
 padding: 0 10px 0px 10px;
 margin: 50px 0 0 50px;
 font-size: 11pt;
}
.author {
    font-size: 18pt;
    margin-bottom: -4px
}

.created {
    font-size: 9pt;
    color: #a9a9a9;
    margin-bottom: -2px
}